<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>FileManager-Client</title>

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">FileManager-Client-Sundae</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="panel panel-success" style="height: 150px;">
                    <div class="panel-heading">
                        <h5>上传文件</h5>
                    </div>
                    <div class="panel-body">
                        <form class="form-inline">
                            <div class="form-group">
                                <input id='location' class="form-control" disabled required/>
                                <input type="button" id="i-check" value="浏览" class="btn btn-success" onclick="openFileExplore()"/>
                                <input type="file" id='i-file' onchange="showInInputBox()" style="display: none"/>
                                <button type="button" class="btn btn-primary form-control" onclick="upload()" style="max-width: 54px;">上传</button>
                            </div>
                        </form>
                        <h5 id="upload_result"></h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6">
                <div class="panel panel-info" style="height: 150px;">
                    <div class="panel-heading">
                        <h5>下载文件</h5>
                    </div>
                    <div class="panel-body">
                        <form class="form-inline" action="/api/download" target="_blank" method="get">
                            <div class="form-group">
                                <input name='uuid' type="text" class="form-control" placeholder="请输入UUID" required/>
                                <button type="submit" class="btn btn-primary form-control" style="max-width: 54px;">下载</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12">
                <div class="panel panel-warning" style="height: 580px;">
                    <div class="panel-heading">
                        <h5>最近十条数据</h5>
                    </div>
                    <div class="panel-body">
                        <p><button class="btn btn-warning" onclick="getFileList()">刷新</button></p>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr class="">
                                    <th>ID</th>
                                    <th>User</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Sundae</td>
                                    <td>DJY</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Sundae</td>
                                    <td>DJY</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Sundae</td>
                                    <td>DJY</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="js/jquery-3.4.1.min.js"/>
    <script src="js/bootstrap.min.js"></script>
    <script>
        function openFileExplore() {
            $('#i-file').click();
        }

        function showInInputBox() {
            $('#location').val($('#i-file').val());
        }

        function upload() {
            // console.log($("#i-file")[0].files[0]);
            $("#upload_result").text("上传：");
            var formData = new FormData();
            formData.append("file", $("#i-file")[0].files[0]);
            $.ajax({
                url:'/api/upload',
                dataType:'text',
                type:'POST',
                async: false,
                data: formData,
                processData : false, // 使数据不做处理
                contentType : false, // 不要设置Content-Type请求头
                success: function(data){
                    console.log(data);
                    $("#upload_result").text("上传：" + data);
                },
                error:function(err){
                    alert(err);
                }
            });
        }

        function getFileList() {
            $.ajax({
                url:'/api/getMetaDataList',
                dataType:'json',
                type:'GET',
                async: false,
                contentType : false, // 不要设置Content-Type请求头
                success: function(data){
                    console.log(data['list']);
                },
                error:function(err){
                    alert(err);
                }
            });
        }
    </script>
</body>
</html>